[Desktop Entry]
Type=Application
Name=LibrePili
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的 BiliBili 第三方客户端
Exec=librepili %u
Icon=librepili
Terminal=false
StartupWMClass=com.zxa24.librepili
Categories=Video;AudioVideo;Player;
MimeType=x-scheme-handler/bilibili;
